# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

go_*
_usr_local_go_*
shila

# Test binary, built with `go test -snoopy`
*.test

testing/VM/output/
testing/VM/report*
testing/SingleClient/output/
testing/SingleClient/report*

measurements/performance/_*
measurements/performance/2020*

_*

# Matlab
*.m~

misc/scion/intro/intro

# GoLand folders
.idea/

# Logs
log-*
*.log

# Report
report/content/writing/*.aux
report/content/writing/*.bbl
report/content/writing/*.blg
report/content/writing/*.log
report/content/writing/*.out
report/content/writing/*.gz
report/content/writing/*.thm
report/content/writing/*.toc
report/content/writing/*.pdf
