# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

go_*
_usr_local_go_*
shila

# Test binary, built with `go test -c`
*.test

testing/VM/output/
testing/VM/report*
testing/SingleClient/output/
testing/SingleClient/report*

measurements/performance/_*

misc/scion/intro/intro

# GoLand folders
.idea/

# Logs
log-*
